<div class="container" style="margin-top: 80px">
  <div class="row">
    <div class="col-12">
      <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="firstFormGroup" [optional]="isOptional">
          <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
              <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Campagin Details</ng-template>
                <div class=row>
                  <!-- row 1 -->
                  <div class=col-12>
                    <mat-form-field>
                      <input matInput placeholder="Campaign Title (maximum 30 characters)" formControlName="title" maxlength="30">
                    </mat-form-field>
                  </div>
                </div><!-- end  row 1 -->
                <div class="row">
                  <!--Row 2-->
                  <div class="col-6">
                    <mat-form-field>
                      <textarea matInput placeholder="Terms and Conditions (Maximum 500 characters)" formControlName="termsAndConditions" maxlength="500">

                        </textarea>
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field>
                      <textarea matInput placeholder="Description ( Maximum 100 characters)" formControlName="description" maxlength="100">

                        </textarea>
                    </mat-form-field>
                  </div>

                </div>
                <!--End of row 2-->

                <mat-form-field>
                  <mat-select placeholder="Campaign Category" formControlName="categoryId">

                    <mat-option *ngFor="let row of (categoryObj$ | async)" [value]="row?.id" (onSelectionChange)="categoryCheckedFn()">
                      {{ row?.name }}
                    </mat-option>


                  </mat-select>
                </mat-form-field>


                <div class="row">
                  <!--Row 3-->
                  <div class="col-4">
                    <mat-form-field>
                      <mat-select placeholder="Campagin Type" formControlName="campaignType">
                        <mat-option *ngFor="let row of campaignTypes" [value]="row.value">
                          {{row.viewValue}}

                        </mat-option>

                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-4">
                    <mat-form-field>
                      <input [min]="minDate" matInput formControlName="startDate" [matDatepicker]="dp3" placeholder="Strating date" (click)="dp3.open()">
                      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
                      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
                    </mat-form-field>

                  </div>
                  <div class="col-4">
                    <mat-form-field>
                      <mat-select placeholder="Number of Weeks" formControlName="noOfWeeks" (selectionChange)="selectedNoOfWeeks($event.value)">
                        <mat-option *ngFor="let row of weeks" [value]="row.value ">
                          {{row.viewValue}}
                        </mat-option>

                      </mat-select>
                    </mat-form-field>

                  </div>

                </div>
                <!--End of row 3-->
                <!-- row 4-->
                <p>Selected braches</p>
                <mat-chip-list>
                  <mat-chip id="chips" *ngFor="let row of selectedBranches;let i = index" [value]="row?.id" (click)="chipUnSelectFn(i, row)">{{row?.location}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
                <!-- end of row 4-->
                <hr>
                <mat-chip-list>
                  <mat-chip (click)="selectAllChips()">Select all</mat-chip>
                  <mat-chip *ngFor="let row of (branchObj$ | async); let i = index" [value]="row?.id" (click)="chipSelectFn(i,row)">{{row?.location}}</mat-chip>

                </mat-chip-list>
                <hr>
                <div class=" border mat-elevation-z1 for-admin">
                  <p class="for-admin-p"><u matTooltip="This information won't be displayed on website">This information won't be dislayed</u></p>

                  <div class=row>

                    <!--row 4-->
                    <div class=" col-6">
                      <mat-form-field>
                        <mat-select placeholder="Discount Type" formControlName="discountType" (selectionChange)="discountTypesSelection($event.value)">
                          <mat-option [value]="row.value" *ngFor="let row of discountTypes">
                            {{row.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class=col-6>
                      <mat-form-field>
                        <input matInput [placeholder]="discountPlaceholder" formControlName="baseDiscountAmount" [type]="discountTxtType">
                      </mat-form-field>
                    </div>
                  </div><!-- end of row 4-->
                  <div class=row>
                    <!--row 5-->
                    <div class="col-6">
                      <mat-form-field>
                        <mat-select placeholder="Discount Utilization" formControlName="discountUtilization">
                          <mat-option *ngFor="let row of utilizations" [value]="row.value">
                            {{row.viewValue}}
                          </mat-option>


                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-6">
                      <mat-form-field>
                        <mat-select placeholder="pick a number" formControlName="number">
                          <mat-option *ngFor="let row of utilizationNumber" [value]="row.value">
                            {{row.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>

                    </div>
                  </div>
                </div>
                <!--end of Row 5-->

              </form>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
              <form [formGroup]="imageFormGroup">
                <!-- image form-->
                <ng-template matStepLabel>Campaign Creation</ng-template>
                <div class="card-body">
                  <div class="tab-content">

                    <h4>Choose Campaign Image</h4>
                    <input formControlName="imagePicker" class="fileinput" type='file' (change)="fileChangeEvent($event)" accept=".jpg, .jpeg, .png" required />
                    <image-cropper *ngIf="imageCropperStatus" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="370/270" [resizeToWidth]="370" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()"></image-cropper>
                    <p *ngIf="!imageSize" style="color: red">please choose the image of appropriate size from 200KB to 5MB</p>
                    <!-- <img [src]="croppedImage" /> -->
                  </div>
                </div>

              </form>
              <!--image form end -->
            </div>
          </div>

          <div>
            <mat-error *ngIf="base64.invalid">Please upload the image.</mat-error>
            <button [disabled]="base64.invalid || !imageSize" class="btn btn-round btn-success pull-right" mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Ambassader Perks</ng-template>
            <div class=row>
              <div class="col-12">
                <mat-checkbox (change)="ambCheckBoxCilck($event.checked)">Do
                  you want Ambassadors for your campaign?</mat-checkbox>
              </div>
            </div>
            <div class=row>
              <!---    ambassadors select-->
              <div class="col-12" *ngIf="ambChecked">
                <mat-form-field>
                  <mat-select placeholder="Select Ambassadors" formControlName="ambassadorIds" multiple>
                    <mat-option style="height:6rem" *ngFor="let row of (ambassadorObj$ | async)" [value]="{'id' : row?.id,'referralCode' : row?.referralCode}">
                      {{row?.firstName}}
                      {{row?.lastName}}
                      <img style="height: 80px; padding-left: 30px;" src="{{row?.idCard}}">
                      {{row?.instituteName}}
                    </mat-option>
                  </mat-select>

                </mat-form-field>
              </div>
              <!---    ambassadors selected-->
              <div class="col-12" *ngIf="ambChecked">
                <mat-radio-group>
                  <mat-radio-button (change)="sameAmbPerksClick($event.checked)" value="1">Same perks as normal User&nbsp;&nbsp;
                  </mat-radio-button>
                  <mat-radio-button (change)="sepAmbPerksClick($event.checked)" value="2">define Ambassadors perks
                    separately</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div *ngIf="sepAmbPerksChecked">
              <div class="row">
                <div class="col-6">
                  <mat-form-field>
                    <mat-select placeholder="Discount Utilization" formControlName="ambDiscountUtilization">
                      <mat-option *ngFor="let row of utilizations" [value]="row.value">
                        {{row.viewValue}}
                      </mat-option>


                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field>
                    <mat-select placeholder="pick a number" formControlName="ambNumber">
                      <mat-option *ngFor="let row of utilizationNumber" [value]="row.value">
                        {{row.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <mat-form-field>
                    <mat-select placeholder="Discount Type" formControlName="ambassadorDiscount" (selectionChange)="ambDiscountTypesSelection($event.value)">
                      <mat-option [value]="row.value" *ngFor="let row of discountTypes">
                        {{row.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
                <div class="col-6">
                  <mat-form-field>
                    <input min="0" matInput [placeholder]="ambDiscountPlaceholder" formControlName="ambassadorDiscountAmount" [type]="discountTxtType">
                  </mat-form-field>

                </div>
              </div>
            </div>
            <!--Referral-->
            <hr>
            <div class="container">
              <div class="row">
                <mat-checkbox *ngIf="ambChecked" (change)="refCheckBoxClick($event.checked)">Do
                  you want referrals for your cammpaign?</mat-checkbox>
              </div>
              <div class="row" *ngIf="refChecked">
                <mat-radio-group>
                  <mat-radio-button (change)="sameRefPerksClick($event.checked)" value="1">Same perks as normal User&nbsp;&nbsp;
                  </mat-radio-button>
                  <mat-radio-button (change)="sepRefPerksClick($event.checked)" value="2">define Referral perks
                    separately</mat-radio-button>
                </mat-radio-group>
              </div>
              <div class="row" *ngIf="sepRefPerksChecked">
                <div class="col-6">
                  <mat-form-field>
                    <mat-select placeholder="Discount Type" formControlName="referralDiscount" (selectionChange)="refDiscountTypesSelection($event.value)">
                      <mat-option [value]="row.value" *ngFor="let row of discountTypes">
                        {{row.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field>
                    <input min="0" matInput [placeholder]="refDiscountPlaceholder" formControlName="referralDiscountAmount" [type]="discountTxtType">
                  </mat-form-field>
                </div>
              </div>




              <div>
                <button class="btn btn-round " mat-button matStepperPrevious>Back</button>


                <button (click)="SetPayload()" style="float: right;" class="btn btn-round btn-success btn-lg" mat-button>Create
                  Campaign</button>

              </div>
            </div>
          </form>

        </mat-step>

      </mat-horizontal-stepper>
    </div>
  </div>
</div>