<div class="container">
  <div class="row">
    <div class="col-12">
      <app-filters></app-filters>
    </div>

  </div>
  <div class="row activity">
    <div class="col-6">
      <app-branch-activity></app-branch-activity>
    </div>
    <div class="col-6">
      <app-campaign-activity></app-campaign-activity>
    </div>


  </div>
  <div class="row">
    <div class="col-6">
      <app-gender-chart></app-gender-chart>
    </div>
    <div class="col-6">
      <app-coupon-chart></app-coupon-chart>
    </div>

  </div>
  <div class="row">
    <div class="col-12">
      <app-universities></app-universities>
    </div>
  </div>
</div>