<div class="container">
  <div class="row">
    <div class="col-3">
      <mat-form-field>
        <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field>
        <mat-select placeholder="Select Branch">
          <mat-option value='allBranches'>
            All Branches
          </mat-option>
          <mat-option *ngFor='let row of ($getBranches | async)' value='row?.id'>
            {{row?.location}}
          </mat-option>

        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field>
        <mat-select placeholder="Select Campaign">
          <mat-option value="allCampaigns">
            All Campaigns
          </mat-option>
          <mat-option *ngFor='let row of ($getCampaigns | async)' value="row?.id">
            {{row?.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div class="col-3">
      <mat-form-field>
        <mat-select placeholder="Filter by">
          <mat-option>
            Day
          </mat-option>
          <mat-option>
            Week
          </mat-option>
          <mat-option>
            Month
          </mat-option>

        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>