.addCard :hover {
  h3 {
    color: white
  }

  .addBtn {
    color: rgb(255, 255, 255);
  }

  background: #47a44b;

}

.main-content {
  margin-top: 30px;
  padding: 0px 0px;

}

.card {
  cursor: pointer
}